<!DOCTYPE HTML>
<html>
<head>
<title>The steel Website Template | Home :: w3layouts</title>
<link href="./css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

</head>
<body>
	
		<div class="header">
			<div class="wrap">
					<div class="logo">
			<a href="index.html"><img src="./images/logo.png" alt=""/></a>
			</div>
		<ul class="menu">
				 <li><a href="index.html">HOME</a> </li>
					 <li><a href="about.html">ABOUT</a> </li>
					 <li><a href="services.html">SERVICES</a>  </li>
					 <li><a href="products.html">PRODUCTS</a> </li>
					  <li class="active"><a href="contact.html">CONTACT</a> </li>
					    <div id="lavalamp"> </div>
					  <div class="clear"> </div>
				</ul>
				   <div class="clear"> </div>
		    </div>
		       <div class="clear"> </div>	
		   	 </div>

<div class="wrap">
			<div class="cont-main">
			<div class="section group">	
				<div class="contact_info">
				<h3>Our Location</h3>
			    	 		<div class="map">
					   			<iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265&amp;output=embed"></iframe><br><small><a href="https://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265" style="color:#81532E;;text-align:left;font-size:12px">View Larger Map</a></small>
					   		</div>	
					   		</div>		
				<div class="col span_1_of_2">
					
			    	 	
      				
      			<div class="company_address">
				     	<h3>Company Information :</h3>
						<p>500 Lorem Ipsum Dolor Sit,</p>
						<p>22-56-2-9 Sit Amet, Lorem,</p>
						<p>USA</p>
				   		<p>Phone:(00) 222 666 444</p>
				   		<p>Fax: (000) 000 00 00 0</p>
				 	 	<p>Email: <span>info@mycompany.com</span></p>
				   		<p>Follow on: <span>Facebook</span>, <span>Twitter</span></p>
				   </div>
				</div>				
				<div class="col span_2_of_4">
				  <div class="contact-form">
				  	<h3>Contact Form</h3>
					       <contact-form method="post" action="contact-post.html">
					    	<div>
						    	<span><input type="text" class="textbox" value="Name:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}"></span>
						    </div>
						    <div>
						    	<span><input type="text" class="textbox" value="Email:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}"></span>
						    </div>
						    <div>
						    	<span><input name="userPhone" type="text" class="textbox" value="mobile:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'mobile';}"></span>
						    </div>
						    <div>
						    	<span><textarea value="Message:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message</textarea></span>
						    </div>
						   <div>
						   		<span><input type="submit" value="Submit"></span>
						  </div>
					    </contact-form>

				    </div>
  				</div>				
		  </div>
		   <div class="clear"></div>
			</div>
</div>
<div class="footer-bg">
<div class="wrap">
	<div class="footer-grid">
		<h3>About Us</h3>
		<ul>
			<li><a href="#">Online Shopping</a></li>
			<li><a href="#">Finnace Service</a></li>
			<li><a href="#">Marketing</a></li>
			<li><a href="#">Econamic News</a></li>
			<li><a href="#">Business Help</a></li>
		</ul>
	</div>
	<div class="footer-grid">
		<h3>Pages</h3>
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">About Us</a></li>
			<li><a href="#">Our Services</a></li>
			<li><a href="#">Contact Our Team</a></li>
			<li><a href="#">Short Code</a></li>
		</ul>
	</div>
	<div class="f-box">
		<h3>Recent Post</h3>
		<ul>
		<li class="active1"><a href="">Join Our Facebook Page</a></li>
		<li><a href="">Join Our Twitter</a></li>
		<li><a href="">Rss Feed</a></li>
		<li><a href="">Follow Us Google+</a></li>
		</ul>
	</div>
	<div class="footer-grid1">
		<h3>News-Letters</h3>
		<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. Pellentesque nulla ipsum, pretium ac ultrices non, tincidunt id quam. Mauris dignissim dolor quis risus molestie et ,</p>
	</div>
	<div class="clear"></div>
</div>
<div class="clear"></div>
</div>
<div class="clear"> </div>
<div class="copy-right">
	<p>Design by <a href="http://w3layouts.com/">W3layouts</a></p>
</div>
<div class="clear"></div>
</body>
</html>