<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
</head>
<head>
<title>广东省机器人协会</title> 
{%load staticfiles%}
<link href="{% static "css/ondevelopment_style.css" %}" rel="stylesheet"
	type="text/css" media="all" />
<meta name="keywords"
	content="Lanuncher iphone web template, Andriod web template, Smartphone web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<link href='http://fonts.googleapis.com/css?family=Ropa+Sans'
	rel='stylesheet' type='text/css'>
</head>
<body>
	<!--start-wrap--->
	<div class="wrap">
		<!--start-header--->
		<div class="header">

			<div class="clear"></div>
		</div>
		<div class="content">
			<div class="left-content">
				<h4>正在建设中....</h4>
				<p>该页面正在建设中，即将上线，请耐心等候~ ^-^</p>
				<h2>当前日期为 {{currentday}}</h2>
				<h1>距离上线还有</h1>
				{{day}}天 /{{hours}}小时/{{second}}秒
				<br>
				<br>
				<a href="/register/"><h2>当前接受会员注册</h2></a>
			</div>

			<div class="right-content">
				{%load staticfiles%} <img src="{%static "images/developmentbanner.png" %}" title="banner-name" />
			</div>
			<div class="clear"></div>
		</div>
		<div class="copy-right">
			<p>
				Design by <a href="https://github.com/xiaokugua250">LLC_DULIANG</a>
			</p>
		</div>
		<!--end-header--->
	</div>
	<!--start-wrap--->
</body>
</html>