<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{%load staticfiles%}
<link href="{% static "css/homepagestyle.css" %}" rel="stylesheet"
	type="text/css" media="all" />
<link href="{% static "css/responsiveslides.css" %}" rel="stylesheet"
	type="text/css" media="all" />
<link href="{% static "js/responsiveslides.css" %}" rel="stylesheet"
	type="text/javascript" media="all" />
<link href="{% static "js/tsc_jqcarousel.js.js" %}" rel="stylesheet"
	type="text/javascript" media="all" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>广东省计算机协会</title>

</head>
<body>
		<div class="header">
		<div class="wrap">
					<div class="logo">
						{%load staticfiles%} <img src="{%static "images/logo.png" %}" title="banner-name" />
			</div>
		<ul class="menu">
				<li class="active"><a href="index.html">主页</a> </li>
					 <li class="arrow"><a href="about.html">关于我们</a> </li>
					 <li ><a href="services.html">产品服务</a>  </li>
					 <li ><a href="products.html">产品</a> </li>
					  <li ><a href="contact.html">联系我们</a> </li>
					  <li ><a href="contact.html">会员注册</a> </li>
					    <div id="lavalamp"> </div>
					  <div class="clear"> </div>
				</ul>
				   <div class="clear"> </div>
		</div>
		<div class="clear"> </div>
		</div>
			<!--start-image-slider---->
					<div class="image-slider">
						<!-- Slideshow 1 -->
						
					    <ul class="rslides" id="slider1">
					    
				      <li>{%load staticfiles%} <img src="{%static "images/slider1.jpg" %}" alt=""/></li>
					      <li> {%load staticfiles%} <img src="{%static "images/slider2.jpg" %}" alt=""/></li>
					      <li>{%load staticfiles%} <img src="{%static "images/slider3.jpg" %}" alt=""/></li>
					    </ul>
						 <!-- Slideshow 2 -->
					<div class="clear"> </div>
					<!--End-image-slider---->
		</div>
		<div class="main">	
			<div class="wrap">
	
<div class="content">
	<div class="content-grids">
	
      		<div class="content-grid first-grid">
      			<ul>
      		
      				<li><h4><img src="{%static "images/pic1.png" %}" title="pic1" alt=""/>协会通知</h4></li>
      				<li><p>关于在广东省征集《腾飞崛起的中国装备制造业》的通知</p></li>
      			
      			</ul>
      		</div>
      		<div class="content-grid">
      		{%load staticfiles%} 
      		     <ul>
      				
      				<li><h4><img src="{%static "images/pic2.png" %}" title="pic1" alt=""/>协会报告</h4></li>
      				<li><p>《GB20052-2013三相配电变压器能效限定值及能效等级》标准宣贯会标准宣贯会于2015年4月22日在东莞举行，会议由广东省机械行业协会、广东省电气行业协会联合主办，来自省内外变压器生产企业的董事长、总经理、研发质检部门负责人、专职工程师等80余人参加了本次标准宣贯。</p></li>
      				
      			</ul>	
      		</div>
      		<div class="content-grid last-grid">
      		{%load staticfiles%} 
      			<ul>
      				
      				<li><h4><img src="{%static "images/pic3.jpg" %}" title="pic1" alt=""/>相关专题</h4></li>
      				<li><p>关于征求2015年广东省名牌产品（工业类）评价目录建议的通知</p></li>
      				
      			</ul>
      		</div>
      <div class="clear"></div>
      </div>
<div class="content-bottom-grids">
{%load staticfiles%} 
			<h3>关于广东省计算机协会</h3>
      		<div class="content-bottom-grid">
      			<div class="content-bottom-grid1">
      				<a href="#"></a><img src="{%static "images/pic3.jpg" %}" title="pic1" alt=""></a>
      			</div>
      			<div class="content-bottom-grid2">
      				
      			<ul>
      				<li><p>广东省自动化学会是广东省从事自动化技术工作的科技工作者的学术性社会团体，接受省科学技术协会的领导，是省科学技术协会的组成部分。业务上接受中国自动化学会和广东省科学技术协会的指导。是党和政府联系自动化技术界及其相关学科科技人员的纽带和桥梁、是党和政府发展自动化技术的助手。学会坚持科学技术工作面向经济建设的方针，服务于社会。

广东省自动化学会成立以来，在历届理事会的正确领导下，在不同时期的学会工作中都做出积极的贡献。在组织开展各项学术交流、技术交流、国际交往、科普宣传、技术服务、专业技术资格考评、自动化设备与技术展览等方面，内容形式多样。学会在学科开拓、学术交流、技术应用等方面积极进行开拓，通过参与举办各类展览，使广东省自动化技术的应用与学科的发展得到了有力的推动，而学会的知名度、学会的凝聚力也得到了极大的提高。成为自动化领域具有较大影响的重要学术团体，成为推动区域自动化技术和信息技术不断发展的重要力量。

广东省自动化学会现届为第七届理事会，将认真贯彻执行党和政府的各项方针政策，按照国家民政部和中国科协关于行业学会、改革发展要走向民间化、社会化、无挂靠，自立、自主、自强和自我发展的精神，解放思想，深化学会改革，在推进学会改革，拓展学会活动领域方面积极努力，积极探索今后学会的发展方向。2008年被广东省科协确定广东省试点改革的六家学会之一。

广东省自动化学会的主要工作任务是：

（一） 开展自动化科技及相关领域的学术交流，交流科技信息，提高学科水平，促进自动化科技的发展和应用，推进自动化科技人才的培养。

（二） 开展自动化科技及相关领域的国际科技交流，发展同国外自动化科技及相关领域的科技团体和科技工作者的友好交往，举办各种形式的自动化科技领域的国际学术会议、讲座、培训班等活动，促进国际科技合作。

（三） 举办国际和国内各种类型的自动化科技及相关领域的展览会或展示会。

（四） 组织编辑出版自动化科技及相关领域的科技期刊、书籍和论文集。

（五） 开展自动化领域的继续教育和技术培训工作，普及科学技术知识，传播先进生产技术和科学管理经验。

（六） 接受委托，承担自动化科技及相关领域的科技论证、评估、咨询、科技成果鉴定、专业技术资格（或职务）评审，科技文献和编审，标准的制订。

（七） 开展自动化科技及相关领域的技术咨询、技术服务和技术转让。

（八） 发现并推荐人才，表彰、奖励在科技活动中取得优秀成绩的会员、自动化科技工作者和在学会工作中作出突出成绩的学会工作人员。

（九） 兴办为经济建设服务的事业和科技实体，举办为会员服务的集体福利事业和活动。

（十）组织会员参加有益的活动，维护会员的合法权益，反映会员的建议和呼声。

广东省自动化学会是一个十分团结、充满活力的学会！学会开展的学术交流和专项技术交流活动有声有色。



</p></li>
      				<li><a href="about.html">read more</a></li>
      			</ul>
      			</div>
      			  <div class="clear"> </div>
      		</div>
      		<div class="clear"></div>
</div>
<div class="clear"></div>
</div>
<div class="sidebar">
	<div class="sidebar-grids">
			<h3>学会新闻</h3>
      		<div class="sidebar-grid">
      			<div class="sidebar-grid3">
      				<a href="#"><img src="{%static "images/pic3.jpg" %}" title="pic1" alt=""></a>
      			</div>
      			<div class="sidebar-grid4">
      				
      			<ul>
      				<li><h4><a href="#">2015易往智慧之旅邀请函</a></h4></li>
      				<li><p> 2015 “打造透明工厂 实现智慧制造”易往智慧之旅产品推广会将于2015年5月14日在广州召开，我们诚挚邀您的出席！ 

    “中国制造2025”是工信部将弱化以往规划中“五年”的时间限制，规划年限扩展到2025年信息将为您解答及探讨。 </p></li>
      			</ul>
      			</div>
      			  <div class="clear"> </div>
      		</div>
      		<div class="sidebar-grid">
      			<div class="sidebar-grid3">
      				<a href="#"><img src="{%static "images/pic3.jpg" %}"  title="pic1" alt=""></a>
      			</div>
      			<div class="sidebar-grid4">
      				
      			<ul>
      				<li><h4><a href="#">“工业4.0背景下的机器通讯”研讨会成功举办</a></h4></li>
      				<li><p> 在十三五计划中推出中国版工业4.0概念后，自动化领域已得到业内外人士的高度关注。自动化领域经过调整后，将逐季回升迎来大好的市场机遇。在（SIAF 2015）中国广州国际工业自动化技术及装备展览会之际，3月10日下午2点在展览会3.2号展馆B07号场，中国机电一体化技术应用协会、Sercos 国际协会、广东省自动化学会共同主办了“工业4.0背景下的机器通讯”研讨会。研讨会由Sercos 国际协会王女士主持。</p></li>
      			</ul>
      			</div>
      			  <div class="clear"> </div>
      		</div>
      		<div class="sidebar-grid">
      			<div class="sidebar-grid3">
      				<a href="#"><img src="{%static "images/pic3.jpg" %}"  title="pic1" alt=""></a>
      			</div>
      			<div class="sidebar-grid4">
      				
      			<ul>
      				<li><h4><a href="#">欢迎参加Sercos 工业以太网通信技术开发高级培训班</a></h4></li>
      				<li><p> 始于 80 年代末的 Sercos 串行实时通信系统是控制器、 驱动器和分散式外围设备之间通信的一个领先的通信协议。成功应用于可折叠印刷电路、机器视觉、需安全防爆的涂装机等各种不同应用领域，使得 Sercos 已经成为自动化技术领域中广泛用于各种不同应用系统的一种开放的实时接口，取得了世界范围的认同。总之，Sercos 就是机器制造商们所需要的能满足各种技术要求(高速、实时、安全)和战略要求(国际标准化、独立于制造商、市场认可)的工业通信网络。</p></li>
      			</ul>
      			</div>
      			  <div class="clear"> </div>
      		</div>
      		<div class="sidebar-grid">
      			<div class="sidebar-grid3">
      				<a href="#"><img src="{%static "images/pic3.jpg" %}"  title="pic1" alt=""></a>
      			</div>
      			<div class="sidebar-grid4">
      				
      			<ul>
      				<li><h4><a href="#">2014中国（东莞）国际机器人高峰论坛</a></h4></li>
      				<li><p>机器人产业是国家重点发展的战略性新兴产业之一，也是广东省委、广东省政府列入近期我省重点发展八大关键领域之一。预计到2016年中国将成为全球最大的工业机器人市场，东莞乃至广东是中国工业机器人生产与应用的重要基地。

    2014年中国（东莞）国际机器人高峰论坛是由中华人民共和国科学技术部、广东省人民政府联合主办2014中国（东莞）国际科技合作周系列活动之一。</p></li>
      			</ul>
      			</div>
      			  <div class="clear"> </div>
      		</div>
      		  <div class="clear"> </div>
      		
</div>
 <div class="clear"> </div>
</div>	
 <div class="clear"> </div>
<div class="tsc_carousel_hor products-list">
	<h1>最新成果</h1>
          <div class="l-carousel">
            <div class="jcarousel-container jcarousel-container-horizontal" style="position: relative; display: block;"><div class="jcarousel-clip jcarousel-clip-horizontal" style="overflow: hidden; position: relative;"><ul class="carousel jcarousel-list jcarousel-list-horizontal" style="overflow: hidden; position: relative; top: 0px; left: 0px; margin: 0px; padding: 0px; width: 2072px;">
              <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-1 jcarousel-item-1-horizontal" jcarouselindex="1" style="float: left; list-style: none;"> <a href="#"><img src="{%static "images/pic3.jpg" %}"  width="175" height="115" border="0"></a>
               
              </li>
              <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-2 jcarousel-item-2-horizontal" 
              jcarouselindex="2" style="float: left; list-style: none;"> <a href="#"><img src="{%static "images/pic3.jpg" %}"  width="175" height="115" border="0"></a>
                
              </li>
              <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-3 jcarousel-item-3-horizontal" jcarouselindex="3" style="float: left; list-style: none;"> <a href="#"><img src="{%static "images/pic3.jpg" %}"  width="175" height="115" border="0"></a>
               
              </li>
              <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-4 jcarousel-item-4-horizontal" jcarouselindex="4" style="float: left; list-style: none;"> <a href="#"><img src="{%static "images/pic1.png" %}"  width="175" height="115" border="0"></a>
              
              </li>
              <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-5 jcarousel-item-5-horizontal" jcarouselindex="5" style="float: left; list-style: none;"> <a href="#"><img src="{%static "images/pic2.png" %}"  width="175" height="115" border="0"></a>
              
              </li>
              <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-6 jcarousel-item-6-horizontal" jcarouselindex="6" style="float: left; list-style: none;"> <a href="#"><img src="{%static "images/pic3.jpg" %}"  width="175" height="115" border="0"></a>
                
              </li>
              <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-7 jcarousel-item-7-horizontal" jcarouselindex="7" style="float: left; list-style: none;"> <a href="#"><img src="{%static "images/pic1.png" %}"  width="175" height="115" border="0"></a>
               
              </li>
              <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-8 jcarousel-item-8-horizontal" jcarouselindex="8" style="float: left; list-style: none;"> <a href="#"><img src="{%static "images/pic2.png" %}"  width="175" height="115" border="0"></a>
               
              </li>
            </ul></div><div class="jcarousel-prev jcarousel-prev-horizontal jcarousel-prev-disabled jcarousel-prev-disabled-horizontal" style="display: block;" disabled="disabled"></div><div class="jcarousel-next jcarousel-next-horizontal" style="display: block;"></div></div>
          </div>
          <div class="clear"> </div>
			
		<!-- DC Horizontal Carousel:Light End -->
		</div>	
 <div class="clear"> </div>
 
</div>
</div>
<div class="footer-bg">
<div class="wrap">
	<div class="footer-grid">
		<h3>关于我们</h3>
		<ul>
			<li><a href="#">广东省机器人协会</a></li>
			<li><a href="#">广东工业大学</a></li>
			<li><a href="#">广东省科技局</a></li>
			<li><a href="#">Econamic News</a></li>
			<li><a href="#">Business Help</a></li>
		</ul>
	</div>
	<div class="footer-grid">
		<h3>相关链接</h3>
		<ul>
			<li><a href="#">中国机器人协会</a></li>
			<li><a href="#">广东省自动化学会</a></li>
			<li><a href="#">广东省科技局</a></li>
			<li><a href="#">Contact Our Team</a></li>
			<li><a href="#">Short Code</a></li>
		</ul>
	</div>
	<div class="f-box">
		<h3>关注我们</h3>
		<ul>
		<li class="active1"><a href="">加入我们</a></li>
		<li><a href="">关注新浪微博</a></li>
		<li><a href="">关注微信公众号</a></li>
		<li><a href="">加入企业QQ群</a></li>
		</ul>
	</div>
	<div class="footer-grid1">
		<h3>关于本站</h3>
		<p>联系地址：广州市广州大学城<br>
		邮政编码:510006<br>
		开发人员：杜量<br>
		反馈邮箱：250858386@qq.com</p>
	</div>
	<div class="clear"></div>
</div>
<div class="clear"></div>
</div>
<div class="clear"> </div>
<div class="copy-right">
	<p>Design by <a href="http://w3layouts.com/">LLC_DULIANG</a></p>
</div>
<div class="clear"></div>
</body>
</html>