<!DOCTYPE HTML>
<html>
<head>
<title>The steel Website Template | Home :: w3layouts</title>
<link href="./css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
		<div class="header">
			<div class="wrap">
					<div class="logo">
			<a href="index.html"><img src="./images/logo.png" alt=""/></a>
			</div>
		<ul class="menu">
				 <li><a href="index.html">HOME</a> </li>
					 <li><a href="about.html">ABOUT</a> </li>
					 <li class="active"><a href="services.html">SERVICES</a>  </li>
					 <li><a href="products.html">PRODUCTS</a> </li>
					  <li><a href="contact.html">CONTACT</a> </li>
					    <div id="lavalamp"> </div>
					  <div class="clear"> </div>
				</ul>
				   <div class="clear"> </div>
		    </div>
		       <div class="clear"> </div>	
		   	 </div>

<div class="wrap">
			<div class="main1">
<div class="ser-main">
	<h4>Our&nbsp;<a href="service.html">Services</a></h4>
	<div class="ser-para">
	<p>Qsi turpis, pellentesque at ultrices in, dapibus in magna. Nunc easi diam risus, placerat ut scelerisque et,sus cipit eu ante. Nullam vitae dolor ullcper felises cursus gravida. Cras felis elit, pellentesqi amet. sus cipit eu ante. </p>
		<p>Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced</p>
	</div>
	<div class="ser-grid-list">
	<h5>Service 01</h5>
		<img src="./images/pic1.jpg" alt="">
	<p>Qsi turpis, pellentesque at ultrices in, dapibus in magna. Nunc easi diam risus, placerat ut scelerisque et, placerat ut scelerisque ,Nunc easi diam risus, placerat ut scelerisque et, </p>
	<div class="readmore">
			<p><a href="#details.html">Read More</a></p>
		</div>
	</div>
	<div class="ser-grid-list">
	<h5>Service 02</h5>
		<img src="./images/pic2.jpg" alt="">
	<p>Qsi turpis, pellentesque at ultrices in, dapibus in magna. Nunc easi diam risus, placerat ut scelerisque et,placerat ut scelerisque Nunc easi diam risus, placerat ut scelerisque et, </p>
	<div class="readmore">
			<p><a href="#details.html">Read More</a></p>
		</div>
	</div>
	<div class="ser-grid-list">
	<h5>Servive 03</h5>
		<img src="./images/pic3.jpg" alt="">
		<p>Qsi turpis, pellentesque at ultrices in, dapibus in magna. Nunc easi diam risus, placerat ut scelerisque etplacet scelerisque ,Nunc easi diam risus, placerat ut scelerisque et, </p>
		<div class="readmore">
			<p><a href="#details.html">Read More</a></p>
		</div>
	</div>
	<div class="ser-grid-list">
	<h5>Service 04</h5>
		<img src="./images/pic1.jpg" alt="">
	<p>Qsi turpis, pellentesque at ultrices in, dapibus in magna. Nunc easi diam risus, placerat ut scelerisque et, placerat ut scelerisque ,Nunc easi diam risus, placerat ut scelerisque et, </p>
	<div class="readmore">
			<p><a href="#details.html">Read More</a></p>
		</div>
	</div>
	<div class="ser-grid-list">
	<h5>Service 05</h5>
		<img src="./images/pic2.jpg" alt="">
	<p>Qsi turpis, pellentesque at ultrices in, dapibus in magna. Nunc easi diam risus, placerat ut scelerisque et,placerat ut scelerisque Nunc easi diam risus, placerat ut scelerisque et, </p>
	<div class="readmore">
			<p><a href="#details.html">Read More</a></p>
		</div>
	</div>
	<div class="ser-grid-list">
	<h5>Servive 06</h5>
		<img src="./images/pic3.jpg" alt="">
		<p>Qsi turpis, pellentesque at ultrices in, dapibus in magna. Nunc easi diam risus, placerat ut scelerisque etplacet scelerisque ,Nunc easi diam risus, placerat ut scelerisque et, </p>
		<div class="readmore">
			<p><a href="#details.html">Read More</a></p>
		</div>
	</div>
	<div class="clear"></div>
	</div>
	<div class="sidebar">
	<div class="sidebar-grids">
		<h3>Latest Services</h3>
		<p>Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced</p>
			<p>Qsi turpis, pellentesque at ultrices in, dapibus in magna. Nunc easi diam risus, placerat ut scelerisque etplacet scelerisque ,Nunc easi diam risus, placerat ut scelerisque et, Qsi turpis, pellentesque at ultrices in, dapibus in magna. Nunc easi diam risus, placerat ut scelerisque etplacet scelerisque ,Nunc easi diam risus, placerat ut scelerisque et, </p>
			<h3>Our Products</h3>
      		<div class="sidebar-grid">
      			<div class="sidebar-grid3">
      				<a href="#"><img src="./images/top1.jpg" title="pic1" alt=""></a>
      			</div>
      			<div class="sidebar-grid4">
      				
      			<ul>
      				<li><h4><a href="#">this is a sample post1</a></h4></li>
      				<li><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p></li>
      			</ul>
      			</div>
      			  <div class="clear"> </div>
      		</div>
      		<div class="sidebar-grid">
      			<div class="sidebar-grid3">
      				<a href="#"><img src="./images/top2.jpg" title="pic1" alt=""></a>
      			</div>
      			<div class="sidebar-grid4">
      				
      			<ul>
      				<li><h4><a href="#">this is a sample post1</a></h4></li>
      				<li><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p></li>
      			</ul>
      			</div>
      			  <div class="clear"> </div>
      		</div>
      		<div class="sidebar-grid">
      			<div class="sidebar-grid3">
      				<a href="#"><img src="./images/top3.jpg" title="pic1" alt=""></a>
      			</div>
      			<div class="sidebar-grid4">
      				
      			<ul>
      				<li><h4><a href="#">this is a sample post1</a></h4></li>
      				<li><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p></li>
      			</ul>
      			</div>
      			  <div class="clear"> </div>
      		</div>
      		<div class="sidebar-grid">
      			<div class="sidebar-grid3">
      				<a href="#"><img src="./images/top3.jpg" title="pic1" alt=""></a>
      			</div>
      			<div class="sidebar-grid4">
      				
      			<ul>
      				<li><h4><a href="#">this is a sample post1</a></h4></li>
      				<li><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p></li>
      			</ul>
      			</div>
      			  <div class="clear"> </div>
      		</div>
      		  <div class="clear"> </div>
      		
</div>
 <div class="clear"> </div>
</div>	
	<div class="clear"></div>
</div>

</div>
<div class="footer-bg">
<div class="wrap">
	<div class="footer-grid">
		<h3>About Us</h3>
		<ul>
			<li><a href="#">Online Shopping</a></li>
			<li><a href="#">Finnace Service</a></li>
			<li><a href="#">Marketing</a></li>
			<li><a href="#">Econamic News</a></li>
			<li><a href="#">Business Help</a></li>
		</ul>
	</div>
	<div class="footer-grid">
		<h3>Pages</h3>
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">About Us</a></li>
			<li><a href="#">Our Services</a></li>
			<li><a href="#">Contact Our Team</a></li>
			<li><a href="#">Short Code</a></li>
		</ul>
	</div>
	<div class="f-box">
		<h3>Recent Post</h3>
		<ul>
		<li class="active1"><a href="">Join Our Facebook Page</a></li>
		<li><a href="">Join Our Twitter</a></li>
		<li><a href="">Rss Feed</a></li>
		<li><a href="">Follow Us Google+</a></li>
		</ul>
	</div>
	<div class="footer-grid1">
		<h3>News-Letters</h3>
		<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. Pellentesque nulla ipsum, pretium ac ultrices non, tincidunt id quam. Mauris dignissim dolor quis risus molestie et ,</p>
	</div>
	<div class="clear"></div>
</div>
<div class="clear"></div>
</div>
<div class="clear"> </div>
<div class="copy-right">
	<p>Design by <a href="http://w3layouts.com/">W3layouts</a></p>
</div>
<div class="clear"></div>
</body>
</html>