<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
</head>
<body>
<div id="header">
</div>
<div>
<ul>
<li><h1><a href="/register/userinfoSubmit">个人会员注册</a></h1></li>
<li><h1><a href="/register/organzationinfoSubmit">组织单位会员注册</a></h1>
</li>
</ul>
</div>
</body>
</html>